{% extends 'main.html' %}

{% block title %}Forgot Your Password?{% endblock %}

{% block content %}
  <h3 style=" margin-left: 25px">Forgot your password?</h3>
  <p style="margin-left: 25px">Enter your email address below, and we'll email instructions for setting a new one.</p>

  <form method="POST" style="margin-left: 25px">
    {% csrf_token %}
    {{ form.as_p }}
    <input style="margin-left: 25px;" type="submit" class="btn btn-primary" value="Send me instructions!">
  </form>
{% endblock content %}