{% load static %}

{#<div#}
{#  class="bg-image d-flex justify-content-center align-items-center"#}
{#  style="#}
{#    background-image: url('https://www.linkpicture.com/q/jumbo.png');#}
{#    height: 30vh; margin-top: 20px; margin-left: 25px; margin-right: 25px;#}
{#  "#}
{#>#}
{#    <img src="{% static 'images/logo-opaque.png' %}" class="rounded-circle" align="right" alt="logo" width="300" height="200">#}
{##}
{#</div>#}



{#{% if request.user.is_authenticated %}#}
{#            <p align="right" style="color:darksalmon; margin-right: 25px; margin-top: 5px">Welcome, {{ user.name }}</p>#}
{#{% endif %}#}

{#<div align="right" style="margin-right: 10px">#}
{#    {% if request.user.is_authenticated %}#}
{#        <li class="nav-item">#}
{#        <a class="nav-link" href="{% url 'logout-page' %}">Logout</a>#}
{#        </li>#}
{#        {% else %}#}
{#        <a class="nav-link" href="{% url 'login-page' %}">Login</a>#}
{#    {% endif %}#}
{##}
{#</div>#}


<nav class="navbar navbar-expand-sm bg-light; rounded" style= "margin-left: 25px; margin-right: 25px; margin-bottom: 10px;">
  <div class="container-fluid" >
    <ul class="navbar-nav">
      <li class="nav-item">
    <button class="btn" style="font-size: large; margin-right: 20px; color: navajowhite"><a style="color: darkslategrey" class="nav-link" href="{% url 'home-page' %}">Home</a></button>
</li>
    <li class="nav-item">
    <button class="btn" style="font-size: large; margin-right: 20px; color: navajowhite"><a style="color: darkslategrey" class="nav-link" href="{% url 'suggest-cause' %}">Suggest a Cause</a></button>
    </li>
    <li class="nav-item">
    <button class="btn" style="font-size: large; margin-right: 20px; color: navajowhite"><a style="color: darkslategrey" class="nav-link" href="{% url 'all-causes' %}">All Causes</a></button>
    </li>
    <li class="nav-item">
    <button class="btn" style="font-size: large; margin-right: 20px; color: navajowhite"><a style="color: darkslategrey" class="nav-link" href="{% url 'all-events' %}">All Events</a></button>
    </li>
    <li class="nav-item">
    <button class="btn" style="font-size: large; margin-right: 20px; color: navajowhite"><a style="color: darkslategrey" class="nav-link" href="{% url 'about' %}">About Us</a></button>
    </li>
            {% if request.user.is_authenticated %}
            <li class="nav-item">
            <button class="btn" style="font-size: large; margin-right: 20px; color: navajowhite"> <a style="color: darkslategrey" class="nav-link" href="{% url 'user-account' %}">My Account</a></button>
            </li>
            <li class="nav-item">
           <button class="btn" style="font-size: large; margin-right: 20px; color: navajowhite"> <a style="color: darkslategrey" class="nav-link" href="{% url 'dashboard' %}">My Dashboard</a></button>
            </li>
    {% endif %}

    <div align="right" style="margin-right: 20px">
    {% if request.user.is_authenticated %}
{#        <li class="nav-item">#}
       <button class="btn" style="font-size: large; margin-right: 20px; color: navajowhite"> <a style="color: darkslategrey" class="nav-link" href="{% url 'logout-page' %}">Logout</a></button>
{#        </li>#}
        {% else %}
       <button class="btn" style="font-size: large; margin-right: 20px; color: navajowhite"> <a style="color: darkslategrey" class="nav-link" href="{% url 'login-page' %}">Login</a></button>
    {% endif %}

</div>

         <form class="d-flex" style="margin-top: 10px; margin-left: 40px; margin-bottom: 10px" method="POST" action="{% url 'search' %}">
        {% csrf_token %}
        <label>
            <input class="form-control me-2" align="right" type="search" placeholder="Search causes / events" name="searched">
        </label>
{#        <button style="margin-left: 5px" class="btn btn-outline-primary" type="submit">Search</button>#}
    </form>


{#     <form class="d-flex" style="margin-top: 10px; margin-left: 40px; margin-bottom: 10px" method="POST" action="{% url 'search' %}">#}
{#        {% csrf_token %}#}
{#        <label>#}
{#            <input class="form-control me-2" align="right" type="search" placeholder="Search causes / events" name="searched">#}
{#        </label>#}
{#        <button class="btn btn-primary" type="submit">Search</button>#}
{#    </form>#}
{#{% if request.user.is_authenticated %}#}
{#            <p align="right" style="color:navajowhite">Welcome, {{ user.name }}</p>#}
{#{% endif %}#}

</div>
</nav>

