{% extends 'main.html' %}
{% load django_bootstrap5 %}

{% block content %}
    {% if user.is_authenticated %}
<section >
    <h4 style="margin-left: 25px">Your Comment</h4>
  <form style="margin-left: 25px; margin-right: 25px" method="POST">
    {% csrf_token %}
    <div>
      {% bootstrap_form form %}
      <button type="submit" class="btn btn-primary" style="margin-left: 25px">Add comment</button>
    </div>
  </form>
</section>
    {% else %}
    <p style="margin-left: 25px">To post a comment, please <a href="{% url 'login-page' %}"> Login </a></p>
{% endif %}
{% endblock %}