Hey, friend! Thank you for registering for our event!
Your profile will now show under Event Participants on the website.
If you've provided your social media account, you may be added to a group chat in which the organizers of the event and the participants will discuss the details and/or any pressing matters.
Any changes concerning the location or date of the event will be published on the website. Please check the page regularly.
If you'd like to unregister, please reply to this email.
Thank you for being an amazing human <3
